<div class="input conditions">
  <%= f.attribute_fields do |a| %>
    <%= render "condition_attribute_select", :a => a %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value %>
  <% end %> &nbsp;
  <%= link_to '<i class="icon icon-remove"></i>'.html_safe, '#', :class => "remove-fields" %>
</div>
