<% if defined?(@search) %>
  <%= search_form_for [:admin, @search], :class => 'filters' do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", :f => c %>
    <% end %>
    <%= link_to_add_fields '<i class="icon-plus"></i> Add Conditions'.html_safe, f, :condition %>
    <div class="actions">
      <%= f.submit "Search", :class => 'button' %><% if params[:q] %> or <%= link_to 'reset', url_for(:action => :index) %><% end %>
    </div>
  <% end %>
<% end %>
