<%
resource = @obj
nest = params[:controller].split('/')
if nest.length > 1
  resource = nest[0..-2].map{ |i| i.to_sym } << @obj
end
%>
<%= simple_nested_form_for resource, html: { novalidate: true } do |f| %>
  <%= f.error_messages %>
  <%= render 'fields', f: f %>
  <div class="actions">
    <%= f.button :submit %> or <%= link_to "Cancel", url_for(action: :index) %>
  </div>
<% end %>
